
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /*  navigation bar */
.navbar {
  background-color:rgb(255, 255, 255);
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
a{
  color: black !important;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .maincontainermobile{
    display: block;
  }
  .background{
    width: 1264px;
    height: 300px;
    border-radius: 30px;
    background: url(images/Rectangle\ 20.png);
    background-position: center;
    background-size: cover;
    color:white;
margin:20px;

}

.description{
  position: relative;
  width: 446px;
  height: 167px;
  top: 82px;
  left: 80px;
  

}
 h3{

 font-style: normal;
 font-weight: 700;
 
 color: red;
 text-align: left;
 padding: 30px;

}
.description p{
  font-weight: bold;
  
}

  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .recipe-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recipe-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .recipe-card h3 {
    margin: 10px 0;
  }
  
  .recipe-card p {
    margin: 5px 0;
  }
  
  .search-container {
    text-align: center;
    margin: 20px;
    width: 100%;
    
  }
  .search-icon {
    margin-left: -5px;
    width: 20px;
   
    color:white;
    background-color: rgba(80, 158, 47, 1);
    
  }
 #search{
  width: 85%!important;
 }
  .filter-container {
    text-align: center;
    margin: 20px;
  }
  
  .toggle-button {
    margin: 5px;
    padding: 10px 20px;
   
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #toggle1{
    background-color: orange;
  }
  #toggle2{
    background-color:rgb(196,214,0) ;
  }
  #toggle3{
    background-color:rgb(249, 73, 9) ; 
  }
  .toggle-button:focus {
    outline: none;
  }
  
  label {
    margin: 0 10px;
  }
  .recipe-card {
    position: relative;
  }
  
  .like-button {
    font-size: 15px;
    color: rgb(28, 8, 8); 
    cursor: pointer;
  }
  
  .like-button.liked {
    color: red!important; 
  }
  
  @media (max-width: 768px) {
    
  }
  